*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body{
    background-color: #8a51fc;
}

.logo{
    display: block; /*centralizar a logo*/
    width: 300px;
    margin: 20px auto;
}

main{
    width: 375px;
    background: #F4F4F4;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label{
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select, input{
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none; /*seta do select*/
    padding-left: 18px;
    font-weight: 700;
    font-size: 13px;
    color: #555555;
    cursor: pointer;
}

button{
    border-radius: 5px;
    background: #772FD3;
    width: 100%;
    border: none;
    height: 48px;
    color: #FFFFFF;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

section{
    border: 1px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex; /*por padrão ele deixa um do lado do outro*/
    flex-direction: column;
    align-items: center;
}
.arrow{
    margin: 15px 0;
}

div{
    display: flex; /*por padrão ele deixa um do lado do outro*/
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency{
    color: #777;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert{
    color: #555;
    font-size: 20px;
    font-weight: 700;
}
